{% extends "./layout.html" %}

{% block title %}
  {{config.basic.title}}
{% endblock %}

{% block head %}
{% endblock %}

{% block nav %}
  {% parent %}
{% endblock %}

{% block content %}
  <main id="content" class="site-content">
    {% for post in posts %}
      <article>
        <header class="article-header">
          <h1 class="entry-title"><a href={{post.url}}>{{post.title}}</a></h1>
        </header>
        <div class="entry-content preview">
          {{post.headContent}}
          <div class="read-more" onclick="this.parentElement.classList.remove('preview')">read more</div>
        </div>
        <footer class="article-footer">
          <a href="/categories/{{post.categories}}">#{{post.categories}}</a> | {{post.date}}
        </footer>
      </article>
    {% endfor %}
    {% if (pageNumber+sumPages) > 1 %}
      <nav id="nav-below" class="site-navigation paging-navigation">
        <div class="nav nav-previous">
          {% if pageNumber %}
            <a href="/page/0">&lt;&lt;</a>
          {% else %}
            <span>&lt;&lt;</span>
          {% endif %}
          {% if pageNumber !== 0 %}
            <a href="/page/{{pageNumber-1}}">&lt;</a>
          {% else %}
            <span>&lt;</span>
          {% endif %}
        </div>
        page {{pageNumber+1}} / {{sumPages}}
        <div class="nav nav-next">
          {% if (pageNumber+1) < sumPages %}
            <a href="/page/{{pageNumber+1}}">&gt;</a>
          {% else %}
            <span>&gt;</span>
          {% endif %}
          {% if (pageNumber+1) !== sumPages %}
            <a href="/page/{{sumPages-1}}">&gt;&gt;</a>
          {% else %}
            <span>&gt;&gt;</span>
          {% endif %}
        </div>
      </nav>
    {% endif %}
  </main>
{% endblock %}

{% block secondary %}
  {% parent %}
{% endblock %}

<!--
  <div class="tag-cloud">
    <div class="tag-title">Tags</div>
    <div class="tags">
      {% for tag in datas %}
        <a href="{{tag.url}}">{{tag.name}}</a>
      {% endfor %}
    </div>
  </div>
-->
